<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <!-- social woo woo -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pfrazee">
    <meta name="twitter:creator" content="@pfrazee">
    <meta name="og:title" content="{{ page.title | default: "Paul Frazee" }}">
    <meta name="og:description" content="{{ page.desc }}">
    <meta name="og:image" content="{{ page.thumb | default: "https://pfrazee.github.io/assets/img/default_thumb.jpg" }}">
    <meta name="twitter:image" content="{{ page.thumb | default: "https://pfrazee.github.io/assets/img/default_thumb.jpg" }}">

    <link rel="icon" href="/assets/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <img src="/assets/img/pfrazee.png">
            <h1><a href="/">{{ site.name }}</a></h1>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="bio">
                I work on a peer-to-peer browser called <a href="https://beakerbrowser.com">Beaker</a>. I live in Austin TX and work at a company called Blue Link Labs. We run a public-peer service called <a href="https://hashbase.io">Hashbase</a>.
            </p>
            <div class="rss">
                <a href="/feed.xml">RSS Feed</a>
            </div>
        </div>
        {{ content }}
    </div>

</body>

</html>
